body {
	background-color: --white;
	color: --yellow;
	font-family: monospace;
	font-size: 20px;
	line-height: 20px;
	overscroll-behavior: none;
}

.container0 {
	margin: 100px;
}

.container1 {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.container2 {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	/* grid-template-areas:
		"B1 B2 B3 B4 B5"; */
}

.G {
	/* We center the contents of these items. You can also do this with flexbox too! */
	display: grid;
	justify-content: left;
	align-items: center;
	/* border: 10px solid rgba(255, 0, 0, 0.3);
	border-radius: 20px; */
	font-size: 20px;
	background-color: var(--white);
	line-height: 25px;
}

.D {
	/* We center the contents of these items. You can also do this with flexbox too! */
	display: grid;
	justify-content: right;
	/* border: 10px solid rgba(255, 0, 0, 0.3);
	border-radius: 20px; */
	font-size: 20px;
	background-color: var(--white);
	line-height: 20px;
}

img {
    height: 150px;
}

.button {
	font-family: monospace ;
	background-color: black;
	border: none;
	border-radius: 15px;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
