body {
	background-color: --white;
	color: --yellow;
	font-family: monospace;
	font-size: 20px;
	line-height: 20px;
	overscroll-behavior: none;
}

.container0 {
	margin: 50px;
}

.container1 {
	display: grid;
	grid-template-columns: fr;
	grid-template-rows: fr;
	gap: 10px;
	grid-auto-flow: row;
	grid-template-areas:
		"D D D G G G";
}

.container2 {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: fr;
	justify-content: center;
	gap: 30px;
	grid-auto-flow: row;
	grid-template-areas:
		"B1 B2 B3";
	margin-bottom: 40px;
}

.area {
	width: 90%;
	height: 40px;
}

.D {
	grid-area: D;
}

.S {
	grid-area: S;
}

.B1 {
	grid-area: B1;
}

.B2 {
	grid-area: B2;
}

.G {
	grid-area: G;
}

.B3 {
	grid-area: B3;
}

/* .B1 {
	display: grid;
	justify-content: right;
	align-items: center;
	font-size: 20px;
	background-color: var(--white);

}

.B2 {
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	background-color: var(--white);

}

.B3 {
	display: grid;
	justify-content: left;
	align-items: center;
	font-size: 20px;
	background-color: var(--white);

} */

.B1,
.B2,
.B3 {
	display: grid;
	justify-content: center;
	align-items: center;
	/* border: 10px solid rgba(255, 0, 0, 0.3);
	border-radius: 20px; */
}

.G {
	/* We center the contents of these items. You can also do this with flexbox too! */
	display: grid;
	justify-content: left;
	align-items: center;
	/* border: 10px solid rgba(255, 0, 0, 0.3);
	border-radius: 20px; */
	font-size: 25px;
	background-color: var(--white);
	line-height: 30px;
}

.D {
	/* We center the contents of these items. You can also do this with flexbox too! */
	display: grid;
	justify-content: right;
	/* border: 10px solid rgba(255, 0, 0, 0.3);
	border-radius: 20px; */
	font-size: 20px;
	background-color: var(--white);
	line-height: 20px;
}

img {
    height: 150px;
}

.button {
	font-family: monospace ;
	background-color: black;
	border: none;
	border-radius: 15px;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
